# Ignore node_modules directory
node_modules/

# Ignore build directory
build/

# Ignore coverage directory
coverage/

# Ignore VSCode settings
.vscode/

# Ignore WebStorm settings
.idea/

# Ignore any Prettier configuration files
.prettierrc
.prettierrc.js
.prettier.config.js