@tailwind base;
@tailwind components;
@tailwind utilities;

/* import other styles after tailwind */
@import "nprogress/nprogress.css";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

#nprogress .bar {
    background: #2d9;
}

#nprogress .spinner-icon {
    border-top-color: #2d9;
    border-left-color: #2d9;
}
