@tailwind base;
@tailwind components;
@tailwind utilities;

/* import other styles after tailwind */
@import "nprogress/nprogress.css";

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

#nprogress .bar {
    background: #2d9;
}

#nprogress .spinner-icon {
    border-top-color: #2d9;
    border-left-color: #2d9;
}
